.team-section {
  margin-left: 200px;
  margin-right: 200px;
}

.rounded {
  border-radius: 50% !important;
}

.abouth1 {
  margin-left: 0px !important;
  padding-bottom: 20px;
  padding-top: 80px;
  text-align: center;
  border-bottom: 2px solid #89023E;
  margin-bottom: 30px !important;
  color: #CC7178;
}

.aboutcont {
  width: 400px;
  padding-right: 100px;
}

.team-section {
  background-color: #EEF7F0;
  margin: 0px;
}

.team-container {
    margin-left: 100px;
    margin-right: 100px;

}

.team-border {
  border-top: 1px solid #CC7178;
  border-right: 1px solid #CC7178;
  border-left: 1px solid #CC7178;
  border-bottom: 1px solid #CC7178;
  margin-top: 50px;
}

.small-top-border {
  margin-top: 10px;
}
