body {
  font-family: 'Open Sans', sans-serif;
  background: #FBF1EC;
  color: #464655;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: black;
}

h2 {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-family: 'Playfair Display', serif;

}

p {
  font-family: 'Open Sans', sans-serif;

}

.btnpurple {
  border-radius: 10px;
  background-color: #89023E;
  color: #FBF1EC;
  padding: 16px 20px;
  font-size: 15px;
  cursor: pointer;
  width: 120px;
  text-align: center;
  margin-right: 50px;
  border: 2px solid #89023E;
}

div.btnpurple {
  width:132px;
  height:48px;
  padding-left: 5px;
  padding-right: 5px;
}

.btnpurple:hover {
  background-color: #FBF1EC;
  color: #89023E;
  border-radius: 10px;
  border: 2px solid #89023E;
  text-decoration: none;
}

.btntransparent {
  border-radius: 10px;
  background-color: #FBF1EC;
  color: #89023E;
  padding: 13px 20px;
  font-size: 15px;
  cursor: pointer;
  width: 120px;
  text-align: center;
  border: 2px solid #89023E;
}

.btntransparent:hover {
  background-color: #FBF1EC;
  color: #89023E;
  border-radius: 10px;
  border: 2px solid #89023E;
  text-decoration: none;
}


.maincontainerbtns {
  display: flex;
  // justify-content: space-around;
  margin-top: 20px;
}

#cityguide {
 position: relative;
 padding-top: 26px;
 justify-content: space-around;
 padding-bottom: 43px;
 background-position: center;
 display: flex;
 align-items: center;
 text-align: justify;
}

#cityguidebutton {
  position: center;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin: 5px auto;
  margin-bottom: 54px;
}

.btnpink{
  border-radius: 10px;
  background-color: #CC7178;
  color: white;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 25px;
}

div.btnpink {
  width: 100px;
  height:48px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.btnpink:hover {
  background-color: #CC7178;
  color: white;
  border-radius: 10px;
  border: 2px solid #89023E;
  text-decoration: none;
}

.btn-link {
  color: black;
  text-decoration: none;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;

}

