.eventscontainer {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  display: flex;
}

.eventsleft {
  width: 60%;
}

.eventsright {
  width: 50%;
  position: sticky;
  top: 100px;
  padding-left: 116px;
}

.eventdetails h2{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.show-map {
  width: 100%;
  height: 50vh;
}

.no-bottom-border {
  border-bottom: none;
}

.eventimg {
  height: 50vh;
  width: 100%;
  crop: fill;
  object-fit: cover;
}

.organizerimg {
  height: 100px;
    width: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    border: white 11px solid;
    border-radius: 49px;

}

.eventsummary {
  display: flex;
}

.esleft {
  width: 150px;

}

.esleft p {
  padding-left: 10px;
}

.eventcontact {
  display: flex;
}

.attendeegroup {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
