// Specific CSS for your home-page
.maincontainer {
  min-height: 600px;
  max-height: 600px;
  background-color: #FBF1EC;
  display: flex;
  justify-content: space-between;
}

.maintext {
  width: 40%;
  padding-top: 100px;
  margin-left: 100px;
}

.maintext h1{
  font-size: 50px;
  text-align: center;
}
.maintext h3 {
  font-size: 20px;
  padding-top:10px;
  padding-bottom: 10px;
}

.citiescont {
  padding: 40px 0px;
  background-color: #E2EBE4;
  width:100%;
}

.mainimage img {
  margin-top: 50px;
  width: 500px;
  margin-right: 80px;
  border-radius: 5px;
}

.maincontainerbtns {
  display: flex;
  justify-content: center;
  width: 100%;

}

.city-img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.inner {
  padding: 6px;
}

.inner a {
  text-decoration: none;
}

.l-arr {
  font-size: 30px;
  margin-right: 20px;
  color: white;
}

.r-arr {
  font-size: 30px;
  color: white;

  margin-left: 20px;
}
.citycard {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  height: 260px;
  width: 225px;
  position: relative;
}

.citycard h2 {
  margin: auto;
  margin-top: 220px;
  margin-bottom: 10px;
}


.cityname {
  display: block;
  position: relative;
  margin-top: 350px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
}

.cityname h2 h3 {
  text-align: center;

}

.citiescont h2 {

}

.whitebox {
  background-color: #fff;
  display: flex;
  min-height: 400px;
  margin-top: 80px;
  margin-left: 300px;
  margin-right: 200px;
}

.whiteboxtext {
  width: 50%;
  margin: auto;
  padding-right: 80px;
  padding-left: 80px;
}

.whiteboximg {
  width: 50%;
}

.whiteboximg img {
  width: 600px;
  border: 6px solid #CC7178;
  margin-left: -100px;
  margin-top: 80px;
}

.reviewscont {
  min-height: 600px;
  max-height: 600px;
  background-color: #FBF1EC;
  display: flex;
  justify-content: space-between;
}

.reviewscont h1 {
  font-weight: bolder;
  margin-left: 60px;
  padding-top: 30px;
  margin-bottom: 0px;
}

body {
  background : repeat rgba(235, 150, 108, 0.1);
}

.main {
  position : relative;
}


.mb-wrap {
  margin : 20px auto;
  padding : 20px;
  position : relative;
  width : 300px;
}

.mb-wrap p {
  margin : 0;
  padding : 0;
}

.mb-wrap blockquote {
  margin : 0;
  padding : 0;
  position : relative;
}

.mb-wrap cite {
  font-style : normal;
}

.mb-style-2 blockquote {
  padding-top : 150px;
}

.mb-style-2 blockquote:after {
    background: none repeat scroll 0 0 rgba(235, 150, 108, 0.8);
    border-radius: 50% 50% 50% 50%;
    color: rgba(255, 255, 255, 0.5);
    content: "❞";
    font-family: 'icons';
    font-size: 70px;
    height: 130px;
    left: 50%;
    line-height: 130px;
    margin-left: -65px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    top: 0;
    width: 130px;
}
.mb-style-2 blockquote:before {
    border-left: 5px solid rgba(235, 150, 108, 0.1);
    border-radius: 50% 50% 50% 50%;
    content: "";
    height: 500px;
    left: -50px;
    position: absolute;
    top: 0;
    width: 500px;
    z-index: -1;
}

.mb-style-2 blockquote p {
  background : none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  box-shadow : 0 -6px 0 rgba(235, 150, 108, 0.2);
  color : rgba(235, 150, 108, 0.8);
  font-family : Baskerville, Georgia, serif;
  font-style : italic;
  font-size : 28px;
  line-height : 46px;
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.5);
  text-align: center;
}

.mb-attribution {
  text-align : right;
}

 .mb-members {
  color : #D48158;
  font-size : 18px;
  font-weight : bold;
  padding-top : 10px;
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.1);
  text-transform : uppercase;
}

cite p {
  color : #D7AA94;
  font-style : italic;
}

.slick-carousel {
  display: flex;
  align-items: center;
}

.dummy-card {
  background-color: red;
  height: 250px;
  border: 2px solid blue;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1526129318478-62ed807ebdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
}

