
.profile-name {
  display: flex;
}

.profile-sidebar {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  background-color: white;
  margin-right: 100px;
}

.avatar-member {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: -250px;
    margin-left: 60px;
}

.left-content {
  width: 300px;
}

.left-cont {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.about2 p {
  border-bottom: 1px solid #CC7178;
  padding-bottom: 10px;
}

.about2 a {
  text-decoration: none;
}

a {
  color: #464655;
  text-decoration: none;
}

.text-center {
  background-color: #EEF7F0;
}


.middle-content {
  width: 500px;
  border-left: 1px solid #CC7178;
  border-right: 1px solid #CC7178;
  padding: 20px;
}

 .groups {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.right-content {
  padding: 20px;
}



.profiledetails {
  width: 100px;
  border: 2px solid black;
  background-color: #FBF1EC;
}
