.top-show-container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  max-height: 500px;
}


.city-photo {
  margin-top : 50px;
  width: 70%;
}

.city-box img{
width: 700px;
}

.city-side-bar {
  margin-top: 50px;
  min-height: 500px;
  background-color: #FBF1EC;
  border-top: 1px solid #CC7178;
  border-right: 1px solid #CC7178;
  border-left: 1px solid #CC7178;
  width: 500px;
}

.sidebar-item {
  display: flex;
  height: 100px;
  border-bottom: 1px solid #CC7178;
  border-left: 1px solid #CC7178;
}

.sidebar-item img {
  width: 100px;
  object-fit: cover;

}

.sidebar-item a{
  margin: auto;
  color: #464655;

}

.title-box {
  padding-left: 50px;
  padding-top: 30px;
  background-color: #EEF7F0;
  margin-bottom: -40px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #EEF7F0;
}

#attend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: #EEF7F0;
}


.card {
  width: 350px;
  height: 300px;
  background-color: #FBF1EC;
  img {
    height: 180px;
    width: inherit;
    object-fit: cover;
  }
}

.card-info {
  padding: 15px 0px 8px 0px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.card-info a {
  text-decoration: none;
  color: #89023E;
}

.card-info h2 {
  font-size: 20px;
  font-weight: bold;
}

.details-link {
  border-bottom: 2px solid #464655;
  width: 56px;
  margin: auto;
  a:hover {
    font-weight: bold;
  }
  p {
    margin-bottom: 0px;
  }
}


.member-display {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.member-display h2 {
  font-family: 'Lora', serif;
  font-weight: bold;
  color: #464655;
}

.member-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.create-btn {
  text-align: center;
    margin-top: -80px;
    justify-content: center;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.create-btn .btnpurple {
  margin-right: 0px;
  width: 200px;
}

// .card-img {
//   height: 180px;
//   background-size: cover;
// }

.auth-container {
  width: 90%;
  max-width: 465px;
  background-color: #fff;
  margin: 20px auto;
  height: 100%;
  padding: 50px 10px;

}
.t-h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  box-sizing: border-box;
}

input:-webkit-autofill {
   background-color: #FBF1EC !important;
}

.form-control {
   background-color: #FBF1EC !important;
}

.form-control:focus {
   background-color: #FBF1EC !important;
}

input:-internal-autofill-selected {
   background-color: #FBF1EC !important;
}

input#user_email.form-control.string.email.optional {
   background-color: #FBF1EC !important;
}
