    <div class="maincontainer">
      <div class="maintext">
        <h1>Women connecting with women across the world</h1>
        <h3>Welcome to GlobeUp, a community space for women to find their tribe anywhere in the world</h3>
        <div class="maincontainerbtns">
          <p class="btnpurple" style="margin-right: 20px;">Join Us</p>
          <p class="btntransparent" style="margin-left: 20px;">Sign Up</p>
        </div>
      </div>

      <div class="mainimage">
        <%= image_tag('mainphoto', alt: 'GlobeUp Girls')%>
      </div>

      <div class="citiescont">

      </div>

    </div>
