    <div class="maincontainer">
      <div class="maintext">
        <h1>Women connecting with women across the world</h1>
        <h3>Welcome to GlobeUp, a community space for women to find their tribe anywhere in the world</h3>
        <div class="maincontainerbtns">
          <p class="btnpurple" style="margin-right: 20px;">Join Us</p>
          <p class="btntransparent" style="margin-left: 20px;">Sign Up</p>
        </div>
      </div>

      <div class="mainimage">
        <%= image_tag('mainphoto.png', alt: 'GlobeUp Girls')%>
      </div>

    </div>

<div class="citiescont">
  <h1>Cities</h1>
  <div class="citiesrow">
    <div class="citycard" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1526129318478-62ed807ebdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)";>
      <div class="cityname">
        <h2>London</h2>
      </div>
    </div>

    <div class="citycard" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1528702748617-c64d49f918af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)";>
      <div class="cityname">
        <h2>Dubai</h2>
      </div>
    </div>

     <div class="citycard" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1511739001486-6bfe10ce785f?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80)">
      <div class="cityname">
        <h2>Paris</h2>
      </div>
    </div>

    <div class="citycard" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1500916434205-0c77489c6cf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80)">
      <div class="cityname">
        <h2>New York</h2>
      </div>
  </div>
</div>


<div class="reviewscont">
  <div class="whitebox">
    <div class="whiteboximg">
      <%= image_tag('girls', alt: 'Hugging Girls')%>
    </div>
    <div class="whiteboxtext">
       <div class="mb-wrap mb-style-2">
        <blockquote cite="http://www.gutenberg.org/ebboks/11">
          <p>  Globe Up is not just a social website. It’s a place where I feel connected. </p>
        </blockquote>
      </div><!--#mb-wrap-->

      <div class="mb-attribution">
        <p class="mb-members">
          Carole & Julia
        </p>
        <cite>
          <p>Connected in London since 2018</>
        </cite>
      </div><!-- #mb-attribution-->
    </div>
  </div>

</div>
