.banner {
  height: 420px;
  margin-bottom: 60px;
  background-image: asset-url('women-at-bar.jpg');
  background-repeat: no-repeat;
  // // background-attachment: fixed;
  background-position: 65% 41%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-photo {
  height: 500px;
  width: 100%;
  margin-bottom: 100px;
  object-fit: cover;
}

.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
