.btn-flat {
  color: #FBF1EC;
  padding: 8px 24px;
  margin: 5px;
  border-radius: 4px;
  background: #89023E;
  transition: background 0.3s ease;
}

.chat-button {
  background: #FBF1EC;
  margin: 5px 10px;
  border-radius: 2px;
}
