.messages-header {
  margin: 10px
}
.messages {
  // font-size: 14px;
  color: #868686;
  border-top: none;
  border-bottom-width: 0;
  // min-height: 400px !important;
  // max-height: calc(100vh - 500px);
  overflow: scroll;
}

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}

#create-message {
  // border: 0.5px solid #000000;
  // box-sizing: border-box;
  // border-radius: 6px;
  // max-width: calc(inherit-200px);
  // height: 67px;
}
.message_content {
  margin-bottom: 0;
  margin-top: 25px;
  // margin: auto;
}
input.form-control {
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  height: 67px;
  // font-size: 14px;
  color: #464655;
  background-color: white !important;
  margin-top: 5px;
  &:focus {
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
    // border: 1px solid blue;
    // box-shadow: none;
  }
}
// .chat-header {
//   background-color: #4F2F4C;
//   color: white;
//   padding: 10px 20px;
//   margin-top: 10px;
//   h4 {
//     margin: 0;
//   }
// }


.chat-index-container {
  width: 100vw;
  display: flex;
  .chat-tabs {
    margin: 10px;
  }
  .all-chats {
    flex-grow: 1;
    margin: 10px;
  }
}
.chat-width {
  flex-grow: 2;
}


.messages-and-create-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 15px solid #EEF7F0;
  box-sizing: border-box;
  border-radius: 30px;
  height: 70vh;
  max-height: 80vh;
  // min-height: 400px !important;
  // max-height: calc(100vh - 70px - 45px - 61px - 30px);
  padding: 20px;
  background-color: #ffffff;
}
