<script>'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'</script>

<div class="banner" >
  <div class="cities-banner-card">
    <h1>Cities</h1>
    <p> GlobeUp is your opportunity to find your home away from home - a welcoming community to accompany your journey.
    <div class="uis-form-wrapper">
      <i class="uis-form-icon uis-point fas fa-search"></i>
      <input class="uis-input" type="search">
    </div>
      <ul class="d-none" id="results">
      </ul>
  </div>
</div>
<div class="card-index-container">
  <% @cities.each do |city| %>
    <%= link_to city_path(city) do %>
      <div class="city-index-card">
        <div class="corner-top-right"></div>
        <div class="corner-top-left"></div>
        <div class="corner-bottom-right"></div>
        <div class="corner-bottom-left"></div>
        <%= cl_image_tag city.card_photo %>
        <div class="city-index-card-info">
          <p><%= city.country_name %></p>
          <h2><%= city.name %></h2>
          <!-- <p> Explore </p> -->
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- height: 200, width: 250, crop: :fill  -->
