<div class="banner" >
  <div class="cities-banner-card">
    <h1>Cities</h1>
    <a class="btn btn-info" href="/">Search</a>
  </div>
</div>
<div class="card-index-container">
  <% @cities.each do |city| %>
    <%= link_to city_path(city) do %>
      <div class="city-index-card">
        <%= cl_image_tag city.card_photo %>
        <div class="city-index-card-info">
          <h2><%= city.name %></h2>
          <p><%= city.country_name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<!-- height: 200, width: 250, crop: :fill  -->
