<div class="team-border container" id="guide">
  <div class="row text-center text-md-left" style="padding-top: 50px;">
    <div class="card-index-container" id="cityguide">
      <h1 style="margin-bottom: 30px;"><%= @city.name %> City Guide</h1>
      <% @descriptions.each do |x| %>
      <p> <%= x %> </p>
      <% end %>
    </div>
    <div id="cityguidebutton">
     <%= link_to "See more cities", cities_path, class:"btnpurple" %>
    </div>
  </div>

</div>


  <br>
  <br>



